@import "_reset"
@import "_fonts"
@import "_keyframes"
@import "_mixin"
@import "_flexboxgrid"

// Colors
$white: #fff
$black: #000
$black--83: #2c2c2c
$black--80: #343434
$red: #ed1c24
$green: #71c04c
$green--dark: #199649
$gray: #565656
$gray--back: #efefef
$gray--light: #969696
$gray--menu: #dddddd

$pink: #ed77b4
$yellow: #ffd13d
$blue: #07a6d5
$blue--dark: #0089b4

body
  font-family: 'DinNextCyr'


// Popup
.mPopup
  position: relative
  background: #FFF
  width: auto
  max-width: 500px
  margin: 20px auto
  font-size: 14px
  @include element(header)
    background: $gray
    padding: 30px 10px
  @include element(title)
    color: $pink
    font-size: 28px
    text-transform: uppercase
    text-align: center
  @include element(body)
    padding: 30px 20px 30px
  .mfp-close
    color: $pink


// Panel
.cd-panel
  position: fixed
  z-index: 2000
  top: 0
  left: 0
  height: 100%
  width: 100%
  visibility: hidden
  transition: visibility 0s 0.6s
  &::after
    content: " "
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: transparent
    cursor: pointer
    transition: background 0.3s 0.3s
  .cd-panel-close
    position: absolute
    top: 0
    left: 50%
    height: 45px
    width: 60px
    margin-left: -30px
    display: inline-block
    overflow: hidden
    text-indent: 100%
    white-space: nowrap
    cursor: pointer
    z-index: 100
    &::before, &::after
      content: " "
      position: absolute
      top: 22px
      left: 20px
      height: 3px
      width: 20px
      background-color: $blue
      -webkit-backface-visibility: hidden
      backface-visibility: hidden
    &::before
      transform: rotate(45deg)
    &::after
      transform: rotate(-45deg)
  &.is-visible
    visibility: visible
    transition: visibility 0s 0s
    &::after
      background: rgba(#000, 0.6)
      transition: background 0.3s 0s
    .cd-panel-close
      &::before
        animation: cd-close-1 0.6s 0.3s
      &::after
        animation: cd-close-2 0.6s 0.3s
  @include element(lang)
    margin-bottom: 25px
    .language-chooser
      list-style: none
      color: $white
      li
        margin-bottom: 10px
        a
          color: inherit
        &.active
          a
            opacity: 0.5
  @include element(menu)
    margin-bottom: 20px
    .menu
      list-style: none
      li
        a
          display: block
          color: $white
          margin-bottom: 10px
        &.current-menu-item,
        &.current_page_item,
        &.current-menu-ancestor,
        &.current-menu-parent,
        &.current_page_parent,
        &.current_page_ancestor
          & > a
            opacity: 0.5
        ul
          padding-left: 20px
          margin-bottom: 10px
          a
            font-size: 13px
.no-touch
  .cd-panel-close
    &:hover
      background-color: #424f5c
    &::before, &::after
      background-color: #fff
      transition-property: transform
      transition-duration: 0.3s
    &:hover
      &::before
        transform: rotate(220deg)
      &::after
        transform: rotate(135deg)

.cd-panel-container
  position: fixed
  width: 100%
  height: 150%
  overflow: hidden
  top: 0
  z-index: 1
  transition-property: transform
  transition-duration: 0.3s
  transition-delay: 0.3s
  @include modifier(black)
    background: $black
    @media (min-width: 400px)
      max-width: 320px
  @include modifier(white)
    background: $white
    @media (min-width: 400px)
      max-width: 420px
  .from-right &
    right: 0
    transform: translate3d(100%, 0, 0)
  .from-left &
    left: 0
    transform: translate3d(-100%, 0, 0)
  .is-visible &
    transform: translate3d(0, 0, 0)
    transition-delay: 0s

.cd-panel-content
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100vh
  padding: 70px 20px 0 25px
  -webkit-overflow-scrolling: touch
  @media (max-width: 991px) and (max-height: 500px)
    overflow-y: scroll


.content
  h1, h2, h3, h4, h5, h6
    line-height: 1.3
    text-transform: uppercase
    @media (min-width: $lg)
      font-size: 30px
    @media (min-width: $sm) and (max-width: $md-top)
      font-size: 24px
    @include xs
      font-size: 20px

  p
    line-height: 1.65
    font-weight: 300
    font-size: 16px
    text-align: justify
  ol, ul
    line-height: 1.5
    margin-left: 30px
    margin-bottom: 10px
  a
    text-decoration: none
  img
    &.aligncenter
      margin: 0 auto 20px
      display: block
    &.alignright
      float: right
      margin: 0 0 20px 20px
    &.alignleft
      float: left
      margin: 0 20px 20px 0
  table
    td
      border: 1px solid $black
      padding: 5px 10px
      font-size: 12px
  & > svg
    max-width: 100%
    height: auto

// Button
.btn
  display: inline-block
  background-color: $blue
  padding: 17px 20px
  font-size: 14px
  font-weight: 400
  text-transform: uppercase
  box-shadow: 0 2px 0 $black
  margin-top: 45px
  line-height: 1
  &:hover
    background-color: $blue--dark
  &::after
    display: inline-block
    content: ''
    background: url("../img/arrow-right.png") no-repeat
    width: 44px
    height: 14px
    vertical-align: baseline
    position: relative
    top: 2px
    margin-left: 15px

// Divider
hr
  width: 150px
  height: 1px
  background-color: $black
  border: none
  position: relative
  right: 75px
  @media (min-width: $lg)
    margin: 10px 0 40px
  @media (min-width: $sm) and (max-width: $md-top)
    margin: 10px 0 30px
  @include xs
    margin: 10px 0 20px

// Header
.header
  position: absolute
  width: 100%
  z-index: 1
  @include element(top)
    color: $white
    line-height: 25px
    padding: 5px 0 57px 0
    font-weight: 300
    background: $black--83
    @media (max-width: $md-top)
      display: none
    a
      color: inherit
      &:hover
        opacity: .7
    svg
      @include inline-block(middle, 3px)
      margin-right: 5px
      fill: $blue
      transform: scale(-1, 1)
  @include element(bottom)
    position: relative
    top: -50px
    font-weight: 300
    @media (max-width: $md-top)
      top: 0
  @include element(box)
    background: $white
    width: 1300px
    margin: 0 auto
    @include xs
      padding: 0 15px
    @media (min-width: $sm)
      padding: 0 35px
    @media (max-width: $md-top)
      width: 100%
    @include lg
      width: 100%
    @include xl
      width: 100%
  @include element(contacts)
    span
      @include inline-block()
      margin-right: 20px
  @include element(lang)
    text-align: right
    padding-right: 20px
    position: relative
    &::after
      content: ''
      border-top: 4px solid $blue
      border-left: 4px solid transparent
      border-right: 4px solid transparent
      @include position(absolute, 50%, 0, null, null)
      margin-top: -2px
    &:hover
      .language-chooser
        display: block
    .language-chooser
      @include position(absolute, 100%, 0, null, null, 100)
      padding: 10px 20px
      background: $blue
      list-style: none
      display: none
      animation: down 0.3s
      .active
        display: none
  @include element(logo)
    width: 400px
    height: 90px
    @include xs
      width: 250px
      padding-top: 22px
    @media (min-width: $sm)
      padding-top: 15px
    @include clearfix()
    .img
      float: left
      img
        display: block
        @media (max-width: 420px)
          width: 43px
    .text
      display: block
      font-weight: bold
      color: $black
      text-transform: uppercase
      @media (min-width: $xl)
        font-size: 24px
        padding-top: 2px
        margin-left: 10px
        line-height: 0.85
      @media (min-width: $sm) and (max-width: $lg-top)
        font-size: 20px
        padding-top: 4px
        margin-left: 10px
        line-height: 0.85
      @include xs
        font-size: 14px
        padding-top: 6px
        margin-left: 15px
        line-height: 1.2
      @media (max-width: 420px)
        margin-left: 10px
  @include element(menu)
    position: relative
    @media (max-width: $md-top)
      display: none
    .menu
      list-style: none
      float: right
      & > li
        @include inline-block()
        position: relative
        @media (min-width: $xl)
          margin-left: 50px
        @media (max-width: $lg-top)
          margin-left: 20px
        &:first-child
          margin-left: 0
        &.current-menu-item,
        &.current_page_item,
        &.current-menu-ancestor,
        &.current-menu-parent,
        &.current_page_parent,
        &.current_page_ancestor
          & > a
            color: $blue
            border-bottom: 2px solid $blue
        &:hover
          & > ul
            display: block
        & > a
          display: block
          text-transform: uppercase
          color: $black
          line-height: 90px
          height: 90px
          font-weight: 700
          @media (min-width: $xl)
            font-size: 18px
          @media (max-width: $lg-top)
            font-size: 18px
          &:hover
            color: $blue
        & > ul
          @include position(absolute, 100%, null, null, 0, 100)
          min-width: 341px
          background: $white
          list-style: none
          display: none
          margin-top: -2px
          animation: down .3s
          li
            &.current-menu-item,
            &.current_page_item,
            &.current-menu-ancestor,
            &.current-menu-parent,
            &.current_page_parent,
            &.current_page_ancestor
              & > a
                background: $blue
                color: $white
            & > ul
              display: none
            a
              font-size: 16px
              display: block
              padding: 5px 25px
              white-space: normal
              line-height: normal
              &:hover
                background: $gray--menu
                color: $blue
  @include element(menuBtn)
    @media (min-width: $lg)
      display: none
    @media (max-width: $md-top)
      float: right
      padding-top: 28px
      height: 90px
      svg
        fill: $green--dark
        display: block



// Slider
.mainSlider
  @include element(item)
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    &::after
      content: ''
      display: block
      background: url("../img/bg-pattern.png") repeat
      height: 100%
    @media (min-width: $lg)
      height: 600px
    @media (max-width: $md-top)
      height: 400px



// Content
.bContent
  @media (min-width: $lg)
    padding-top: 180px
    padding-bottom: 80px
  @media (max-width: $md-top)
    padding-top: 110px
    padding-bottom: 35px
  @media (min-height: 750px)
    min-height: 600px
    .home &
      min-height: 200px
  .page-id-29 &
    padding-bottom: 65px
    min-height: 400px
  @include element(contacts)
    @media (min-width: $lg-top)
      padding-left: 20px
  @include element(map)
    height: 100%
    overflow: hidden
    position: relative
    @media (max-width: $lg)
      margin-bottom: 30px
    .map
      @media (min-width: $lg)
        @include position(absolute, 0, 0, 0, 0, 0)
      @media (max-width: $md-top)
        height: 300px
  @include element(title)
    color: $black
    text-transform: uppercase
    @media (min-width: $lg)
      font-size: 30px
      margin-bottom: 20px
    @media (min-width: $sm) and (max-width: $md-top)
      font-size: 24px
    @include xs
      font-size: 20px
      margin-bottom: 20px
  .content
    &.padding
      @media (min-width: $lg)
        margin-left: 40%
        padding-left: 40px
    @media (min-width: 1200px)
      .home &
        padding-top: 50px
    @include xs
      padding: 0 5px
    strong
      color: $blue
    p
      @include xs
        font-size: 14px
  hr
    background-color: $black
.linear__bg
  background-image: linear-gradient(to right, $green 50%, $gray--back 50%)
  .bContent__title
    color: $white
    text-align: left
    margin-bottom: 0
  hr
    background-color: $white

// Welcome
.welcome
  @media (min-width: $lg)
    background: url("../img/welcome-bg.jpg") no-repeat left top
    padding: 70px 0
  @media (max-width: $md-top)
    padding: 35px 0
  @media (min-height: 750px)
    min-height: 600px
    .home &
      min-height: 200px
  .page-id-29 &
    padding-bottom: 0
    min-height: 400px
  .content
    @media (min-width: 1200px)
      .home &
        padding-top: 60px
        padding-bottom: 60px

// Advantages
.advantages
  background-image: linear-gradient(to right, $green 50%, $gray--back 50%)
  @media (min-width: $lg)
    padding: 70px 0 70px 0
  @media (max-width: $md-top)
    padding: 35px 0 35px 0
  @include element(tile)
    background: #fff
    text-align: center
    padding: 40px 35px
    margin-top: 30px
  @include element(title)
    color: $white
    text-transform: uppercase
    @media (min-width: $lg)
      font-size: 30px
    @media (min-width: $sm) and (max-width: $md-top)
      font-size: 24px
    @include xs
      font-size: 20px
      margin-bottom: 20px
  @include element(icon)
    margin-bottom: 10px
    img
      display: block
      margin: 0 auto
  @include element(name)
    text-transform: uppercase
    padding: 0 10px 10px
    @media (min-width: $lg)
      font-size: 16px
    @media (max-width: $md-top)
      font-size: 14px
  @include element(text)
    padding: 0 10px
    color: $gray--light
    font-weight: 300
    @media (min-width: $lg)
      font-size: 16px
    @media (max-width: $md-top)
      font-size: 12px
  @include element(imgbox)
    padding-top: 30px
    height: 100%
    @media (min-width: $xl)
      margin: 0px 20px
    @include lg
      margin: 0px 10px
  @include element(img)
    background: url("../img/advantages.jpg") no-repeat center / cover
    width: 100%
    height: inherit
    @media (max-width: $md)
      height: 300px
  hr
    background-color: $white
    margin-bottom: 0

// Clients
.clients
  @media (min-width: $lg)
    padding: 70px 0
  @media (max-width: $md-top)
    padding: 35px 0
  @include element(title)
    text-transform: uppercase
    @media (min-width: $lg)
      font-size: 30px
    @media (min-width: $sm) and (max-width: $md-top)
      font-size: 24px
    @include xs
      font-size: 20px
  @include element(image)
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-content: center
    align-items: center
    height: 130px
    img
      display: block
      max-width: 110px
      max-height: 100px
      filter: grayscale(100%)
      transition: filter 0.6s
      &:hover
        filter: grayscale(0%)


// Contacts
.bContacts
  position: relative
  //min-height: 415px
  background: url("../img/contacts-bg.jpg") no-repeat bottom center / cover
  color: $white
  padding-top: 110px
  &::before
    content: ''
    display: block
    position: absolute
    top: 0px
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.8)
  @media (max-width: $sm-top)
    padding: 40px 0
    text-align: center
  a
    color: inherit
    &:hover
      opacity: .7
  @include element(logo)
    position: relative
    background: $white
    color: $black
    text-align: center
    @media (max-width: $sm-top)
      margin: 0 auto 50px
      padding-top: 40px
      padding-bottom: 90px
      max-width: 325px
    @media (max-width: $lg-top)
      padding-top: 70px
      padding-bottom: 100px
      width: 300px
    @media (min-width: $xl)
      max-width: 325px
      padding-top: 70px
      padding-bottom: 110px
    img
      @media (max-width: $lg-top)
        width: 80px
      @media (min-width: $xl)
        width: 100px
    .text
      font-weight: bold
      color: $black
      text-transform: uppercase
      @media (max-width: $md-top)
        font-size: 20px
      @media (min-width: $lg)
        font-size: 24px
  @include element(col)
    position: relative
    @media (max-width: $sm-top)
      margin-bottom: 30px
    @media (min-width: $md)
      text-align: left
      margin-bottom: 10px
    h6
      &::before
        content: ''
        display: inline-block
        width: 48px
        height: 1px
        background: $white
        vertical-align: middle
        @media (max-width: $lg-top)
          margin-right: 15px
        @media (min-width: $xl)
          margin-right: 30px
      @media (max-width: $lg-top)
        font-size: 14px
        margin-bottom: 5px
      @media (min-width: $xl)
        margin-bottom: 40px
        font-size: 16px
    p
      font-weight: 300
      @media (max-width: $lg-top)
        font-size: 14px
      @media (min-width: $xl)
        font-size: 15px
  @include element(copyright)
    position: relative
    color: $white
    hr
      background-color: $white
      right: 0
      @media (max-width: $lg-top)
        width: 100%
        margin-top: 20px
        margin-bottom: 10px
      @media (min-width: $xl)
        margin-top: 100px
        margin-bottom: 30px
        width: 110%
    p
      text-transform: uppercase
      font-weight: 300
      font-size: 15px
      @media (max-width: $lg-top)
        font-size: 12px
    .link
      @media (max-width: $lg)
        margin-top: 5px
      @media (min-width: $lg)
        text-align: right

.contacts
  background: $white
  margin-bottom: 30px
  font-weight: 300
  @media (min-width: $lg-top)
    padding: 90px 50px
  @include lg
    padding: 70px 30px
  @media (max-width: $md-top)
    padding: 30px
  @media (max-width: $sm-top)
    .row
      & > div
          padding-bottom: 25px
  a
    color: inherit
    &:hover
      color: $green--dark
  p
    font-size: 15px
    max-width: 230px
    @media (min-width: $lg-top)
      padding-left: 28px
    @media (max-width: $lg-top)
      font-size: 14px
      padding-left: 0
  @include element(icon)
    margin-bottom: 10px
    svg
      display: inline-block
      fill: $green--dark
      transform: scale(-1, 1)
    h6
      display: inline-block
      margin-left: 6px
      font-size: 30px
      font-weight: 300
      @media (max-width: $lg-top)
        font-size: 26px
  @include element(sep)
    position: relative
    width: 1px
    background: $white
  @include element(box)
    .bContent__title
      color: $black
      text-align: center
      margin-bottom: 20px
    .form
      position: relative
      z-index: 2
      background: $white
      padding: 30px 30px
      .row
        margin: 0 -15px
        & > div
          padding: 0 15px
      input[type='text'], input[type='email'], input[type='tel']
        display: block
        width: 100%
        height: 35px
        padding: 0 15px
        border: 1px solid #b1b1b1
        background: #f5f5f5
      textarea
        display: block
        width: 100%
        padding: 8px 15px
        border: 1px solid #b1b1b1
        background: #f5f5f5
        resize: none
        @media (max-width: $lg-top)
          height: 150px
        @media (min-width: $xl)
          height: 65px
      .wpcf7-form-control-wrap
        display: block
        position: relative
        padding-bottom: 25px
      .arrow
        &::after
          display: inline-block
          content: ''
          background: url("../img/arrow-right.png") no-repeat
          width: 44px
          height: 14px
          vertical-align: baseline
          position: relative
          top: 2px
          margin-left: 25px
      .submit__btn
        display: block
        margin: 0 auto
        border: none
      .wpcf7-not-valid-tip
        color: $red
        font-size: 12px
        @include position(absolute, 34px, null, null, 0)
        animation: down .3s
      .ajax-loader
        display: none !important
      .wpcf7-response-output
        margin: 25px 0 0
        padding: 10px 20px
        text-align: center
        font-size: 12px

// Footer
.footer
  background: $black--80
  color: $white
  @media (max-width: $sm-top)
    text-align: center
    padding-bottom: 10px
  @include element(copyright)
    padding: 10px 0
  @include element(link)
    @media (min-width: $md)
      padding: 10px 0
      text-align: right
    a
      color: inherit
      &:hover
        opacity: .7


